PIEEDRAWEB/Service References/SRWSPIEEDRA/WsPIEEDRA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AutenticaUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_resultado" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticaUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutenticaUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="_resultado" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistraUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="genero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="atencion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ambito" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_resultado" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistraUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistraUserResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="_resultado" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutenticaUserSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticaUser" />
  </wsdl:message>
  <wsdl:message name="AutenticaUserSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticaUserResponse" />
  </wsdl:message>
  <wsdl:message name="RegistraUserSoapIn">
    <wsdl:part name="parameters" element="tns:RegistraUser" />
  </wsdl:message>
  <wsdl:message name="RegistraUserSoapOut">
    <wsdl:part name="parameters" element="tns:RegistraUserResponse" />
  </wsdl:message>
  <wsdl:portType name="WsPIEEDRASoap">
    <wsdl:operation name="AutenticaUser">
      <wsdl:input message="tns:AutenticaUserSoapIn" />
      <wsdl:output message="tns:AutenticaUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistraUser">
      <wsdl:input message="tns:RegistraUserSoapIn" />
      <wsdl:output message="tns:RegistraUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsPIEEDRASoap" type="tns:WsPIEEDRASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticaUser">
      <soap:operation soapAction="http://tempuri.org/AutenticaUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraUser">
      <soap:operation soapAction="http://tempuri.org/RegistraUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsPIEEDRASoap12" type="tns:WsPIEEDRASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticaUser">
      <soap12:operation soapAction="http://tempuri.org/AutenticaUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraUser">
      <soap12:operation soapAction="http://tempuri.org/RegistraUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsPIEEDRA">
    <wsdl:port name="WsPIEEDRASoap" binding="tns:WsPIEEDRASoap">
      <soap:address location="http://localhost:59350/WebServices/WsPIEEDRA.asmx" />
    </wsdl:port>
    <wsdl:port name="WsPIEEDRASoap12" binding="tns:WsPIEEDRASoap12">
      <soap12:address location="http://localhost:59350/WebServices/WsPIEEDRA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>